<div class="slick-move">
    <app-slick-track
        [slides]="slides"
        [activeIndex]="activetedIndex"
    ></app-slick-track>
</div>
<ul class="slick-list-nums">
    <li 
        *ngFor="let slide of slides; let i = index"
        class="list-item" 
        role="presentation"
        [ngClass]="{ slickActive: activetedIndex === i }"
        >
        <button 
            aria-controls="slick-slide00"
            aria-label="1 of 3"
            tabindex="0"
            aria-selected="true">{{ i + 1 }}</button>
    </li>
</ul>
