<div class="slick-move">
    <app-slick-track
    [slides]="slides"
    [activeIndex]="activeIndex"
    ></app-slick-track>
</div>
<ul class="slick-list-nums">
    <li class="list-item slick-active" role="presentation">
        <button 
            aria-controls="slick-slide00"
            aria-label="1 of 3"
            tabindex="0"
            aria-selected="true">1</button>
    </li>
    <li class="list-item" role="presentation">
        <button 
            aria-controls="slick-slide01"
            aria-label="2 of 3"
            tabindex="-1"
            aria-selected="true">2</button>
    </li>
    <li class="list-item" role="presentation">
        <button 
            aria-controls="slick-slide02"
            aria-label="3 of 3"
            tabindex="-1"
            aria-selected="true">3</button>
    </li>
</ul>
