<ng-container *ngFor="let justify of justifyContentList">
    <div class="image-container">
        <img [src]="justify.imgPath" [alt]="justify.imgAlt">
    </div>
    <div class="text-container">
        <h2 class="title">{{ justify.title }}</h2>
        <p class="text">
            {{ justify.text }}
            <a href="#" class="btn-more">
                <i>Learn More</i>
            </a>
        </p>
        <ul class="list">
            <li 
                class="list-item list-item-sizing"
                *ngFor="let icon of justify.iconList"
                >
                <mat-icon
                    class="icon icon-plant"
                    aria-hidden="false"
                    aria-label="Leaf icon"
                    [svgIcon]="icon.svgIcon"></mat-icon>
                <div class="discription-content">
                    <h3>{{ icon.title }}</h3>
                    <p>
                        {{ icon.text }}
                    </p>
                </div>
            </li>
        </ul>
    </div>
</ng-container>
