<div class="information">
    <h3 class="title">Information</h3>
    <ul class="info-features-list">
        <li class="info-item-1">
            <a href="#">New Products</a>
        </li>
        <li class="info-item-2">
            <a href="#">Top Sellers</a>
        </li>
        <li class="info-item-2">
            <a href="#">Our Blog</a>
        </li>
        <li class="info-item-2">
            <a href="#">Our Shop</a>
        </li>
        <li>
            <a href="#">Privacy Policy</a>
        </li>
    </ul>
</div>