<div class="popular-tag">
    <h3 class="title">Popular Tag</h3>
    <ul class="tag-list">
        <li class="tag-item size-mr-2">
            <button mat-raised-button>trend</button>
        </li>
        <li class="tag-item">
            <button mat-raised-button>Decor</button>
        </li>
        <li class="tag-item size-mr-2">
            <button mat-raised-button>Plant</button>
        </li>
        <li class="tag-item">
            <button mat-raised-button>Table Tree</button>
        </li>
        <li class="tag-item size-mr-2">
            <button mat-raised-button>Bedroom Tree</button>
        </li>
        <li class="tag-item">
            <button mat-raised-button>Living Room</button>
        </li>
    </ul>
</div>