<div class="contact-us">
    <h3 class="title">Contact Us</h3>
    <ul class="list-contact">
        <li>
            <mat-icon aria-hidden="false" aria-label="Location" fontIcon="location_on"></mat-icon>
            <address>Address: London Oxford Street, 012 United Kingdom.</address>
        </li>
        <li>
            <mat-icon aria-hidden="false" aria-label="Phone" fontIcon="phone"></mat-icon>
            <span>
                Phone: <a href="#">(+032) 3456 7890</a>
            </span>
        </li>
        <li class="email">
            <mat-icon aria-hidden="false" aria-label="E-mail" fontIcon="email"></mat-icon>
            <span>
                Email:
                <a href="#">Botanicalstore&#64;gmail.com</a>
            </span>
        </li> 
    </ul>
    <ul class="list-social-media">
        <li class="label">Follow us:</li>
        <li class="facebook">
            <a href="#">
                <mat-icon aria-hidden="false" aria-label="Facebook" svgIcon="facebook-f-brands"></mat-icon>
            </a>
        </li>
        <li class="twitter">
            <a href="#">
                <mat-icon aria-hidden="false" aria-label="Twitter" svgIcon="x-twitter-brands"></mat-icon>
            </a>
        </li>
        <li class="pinterest">
            <a href="#">
                <mat-icon aria-hidden="false" aria-label="Pinterest" svgIcon="pinterest-brands"></mat-icon>
            </a>
        </li>
        <li class="google">
            <a href="#">
                <mat-icon aria-hidden="false" aria-label="Googleplus" svgIcon="google-plus-g-brands"></mat-icon>
            </a>
        </li>
    </ul>
</div>
