<ul>
    <li (click)="openSearch()">
        <a href="#">
            <mat-icon
                aria-hidden="false"
                aria-label="Search"
                fontIcon="search">
            </mat-icon>
        </a>
    </li>
    <li (click)="openFavorite()">
        <a href="#">
            <mat-icon
                class="heart__sgv"
                aria-hidden="false"
                aria-label="Heart"
                svgIcon="heart">
            </mat-icon>
        </a>
    </li>
    <li (click)="openCart()">
        <a href="#">
            <mat-icon
                aria-hidden="false"
                aria-label="Shopping cart icon">
                shopping_cart
            </mat-icon>
        </a>
    </li>
</ul>
